.navbarContainer {
  background-color: #ec0868;
}
h1 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  padding-top: 30px;
}
.navbarContainer h1 {
  padding-top: 30px;
}

nav {
  text-align: center;
}

.links {
  display: flex;
  justify-content: center;
}

a {
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
}

.links a:hover {
  text-decoration: underline;
}
.navbarContainer a:hover {
  text-decoration: underline;
}
