.container {
  text-align: center;
  font-family: 'Playfair Display', serif;
  line-height: 30px;
}

.orderContainer {
  border-radius: 20px;
  margin: 20px 160px 20px 160px;

  box-shadow: 0px 0px 30px rgb(46, 46, 46, 0.5);
}

.order {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  padding: 40px;
}

.orderProduct {
  box-shadow: 10px 10px 10px rgb(46, 46, 46, 0.5);
  border-radius: 20px;
  margin: 40px;
}

.orderHistory {
  font-size: 20px;
  margin-top: 20px;
}

.productName {
  text-decoration: bold;
}

.img {
  margin: 40px 0px 40px 9px;
}

.orderID {
  padding-top: 40px;
  font-size: 24px;
}
